.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.main button {
  width: 300px;
  height: 50px;
  background: rgb(5, 5, 5);
  border: 0px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}
.List {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(65, 15, 1);
  background: linear-gradient(
    90deg,
    rgba(65, 15, 1, 0.8491771708683473) 10%,
    rgba(150, 117, 29, 0.7595413165266106) 27%,
    rgba(152, 144, 61, 1) 47%,
    rgb(56, 10, 4) 96%
  );
  background-size: 100%;
}
.card {
  width: 18rem;
  height: 350px;
  background: rgba(0, 0, 0, 0.911);
  margin-top: 20px;
  margin-left: 20px;
}
.card img {
  width: 100%;
  height: 70%;
}
.card img:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.card-body {
  display: flex;
  justify-content: center;
}
.card-body button {
  width: 90%;
  border: 3px solid rgb(255, 254, 254);
}
.card-body a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.Character {
  background: rgb(65, 15, 1);
  background: linear-gradient(
    90deg,
    rgba(65, 15, 1, 0.8491771708683473) 10%,
    rgba(150, 117, 29, 0.7595413165266106) 27%,
    rgba(152, 144, 61, 1) 47%,
    rgb(56, 10, 4) 96%
  );
  height: 100vh;
}
.Character h1 {
  color: rgb(158, 155, 155);
  padding: 10px;
}
.Detail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.imgCharacter {
  display: flex;
  justify-content: center;
}
.imgCharacter img {
  height: 500px;
}
.detailCharacter {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}
.article {
  width: 90%;
  margin-top: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  align-items: center;
}
.top {
  color: #240303;
  width: 100%;
}
.text {
  color: rgb(158, 155, 155);
  width: 100%;
  display: flex;
  justify-content: baseline;
}
.nextButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px;
}
.nextButton a {
  text-decoration: none;
  color: #fff;
}
